body{
    margin: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height: 18px;
    font-size: 14px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 25px 110px;
    height: 30px;
    border-bottom: 0.05ch solid #eae7e7;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 21%;
    height: 42px;
    letter-spacing: 0.02ch;
    border-radius: 30px;
    border: 1px solid #dddddd;
    box-shadow: rgba(0, 0, 0, 0.08) 1px 1px 5px;
    transition: box-shadow 0.2s ease;
}
nav:hover{
    box-shadow:  rgba(0, 0, 0, 0.1) 1px 3px 5px;
    border-radius: 30px;  
    cursor: pointer;
}
nav .nav1{
    color: black;
    font-weight: 600;
}
nav .anywhere{
    padding-left: 15px;
}
nav .nav2{
    color: #717171; 
    padding-right: 10px;
}
nav a{
    text-decoration: none;
}
nav span{
    background-color: #dddddd;
    width: 1px;
    height: 24px;
}
nav .guests{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
nav .search{
    background: #ff385c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .search img{
    width: 12px;
    height: 12px;
}
nav button{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
nav button:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.logo, .host{
    flex: 1 0 140px;
}

.host{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;
}
.host .button{
    padding: 10px 10px;
    border: 1px solid white;
    text-decoration: none;
    color: #222222;
    font-weight: bold;
    background: transparent;
}
.world img{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login img:first-child{
    width: 16px;
    height: 16px;
} 
.login img:last-child{
    width: 30px;
    height: 30px;
    margin-left: 10px;
} 
.host .hover:hover{
    border: 1px solid white;
    background-color: #f9f5f5;
    border-radius: 25px;
}
.host .login{
    border: 1px solid #e4e1e1;
    border-radius: 22px;
    height: 42px;
    padding: 2px 5px 5px 12px;
    margin-left: 5px;
    transition: box-shadow 0.2s ease;
}
.host .login:hover{
    box-shadow: rgba(4, 4, 4, 0.08)1px 2px 10px;  
    cursor: pointer;
}
.sub-menu-1{
    position: absolute;  
    top: -132px; 
    display: none;
}

.sub-menu-1 ul{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding-left: 0;
    padding-bottom: 10px;
    min-width: 230px;
    margin-right: 8px;
    border: 1px solid #e4e1e1;
    border-radius: 10px;
    background-color: white;
    height: 250px;
    box-shadow: rgba(4, 4, 4, 0.1)5px -3px 5px;   
}
.sub-menu-1 ul > *{
    margin-top: 10px;
    text-decoration: none;
    color: #222222;
    padding-inline: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}
.sub-menu-1 ul > *:hover{
    background-color: #fbf4f4;
}
.sub-menu-1 ul a:first-child{
    font-weight: bold;
}
.sub-menu-1 .line{
    height: 1px;
    background-color: #dddddd;
}

.filter-option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 9;
    top: 81px;
    height: 85px;
    border-bottom: 0.05ch solid #eae7e7;
    background-color: white;
}
.small-icons{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 77%;
    margin-right: 5px;
    position: relative;
    top: 12px;
}
.small-icons::-webkit-scrollbar{
    -webkit-appearance: none;
}
.flex-icon:hover{
    color: #222222;
}
.icon{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    color: #474545;
    font-size: 12px;
    border: 1px solid #dddddd;
    cursor: pointer;
    transition: box-shadow 0.2s ease;  
    background: transparent;
}
.icon:hover{
    box-shadow: rgba(14, 13, 13, 0.1)1px 2px 12px;
}
.scroll-button2{
    margin-right: 20px;
}

.flex-icon a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px 18px;
    text-decoration: none;
    color: #717171;  
}
.flex-icon img{
    width: 24px;
    opacity: 0.6;
}
.icon-text{
    font-size: 12px;
    padding-top: 10px;
    color: #717171;
     width: max-content;
     font-weight: 600;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 1px solid #d9d6d6;
    width: 80px;
    height: 45px;
    border-radius: 10px;
}
.filter img{
    width: 15px;
}

.locations{
    display: flex;
    padding-inline: 110px;
    padding-top: 10px;
    flex-wrap: wrap;
}
.locations a{
    text-decoration: none;
    color: #222222;
}
.locations >*{
    padding: 11px;
    position: relative;
}
.location-text > *{
    padding-bottom: 5px;
}
.main-text{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.location-image{
    overflow-x: auto;
}
.location-image img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.location-desc{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 15px;
}
.main-text, .rate-text{
    font-weight:600;
}
.distance-text{
    color: #717171;
}
.star{
    display: flex;
}
.star img{
    width: 13px;
    display: flex;
    padding-right: 4px;
}
.fav{
    position: absolute;
    top: 30px;
    right: 30px;
}
.fav img{
    width: 23px;    
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: fixed;
    bottom: 51px;
    left: 840px;
}
.map a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #1e1d1d;
    padding: 10px;
    border-radius: 25px;
    height: 30px;
    width: 120px;
    font-weight: 600;
}
.map a > *{
    padding-inline: 5px;
}
.map img{
    width: 17px;
    height: 30px;
}
.footer{
    position: sticky;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-inline: 110px;
    border-top: 0.05ch solid #eae7e7;
    height: 50px;
}
.footer a{
    color: #222222;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footer2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.footer2-left{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.footer2 .currency{
    display: flex;
    gap: 10px;
}
.footer2-left a img{
    width: 100%;
}
.footer2 img{
    width: 10%;
}

